.top-strip{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    padding: 20px;
    border-radius: 20px;
}

.parent{
    min-height: 30vh;
    background: aliceblue;
    border-radius: 20px;
    margin-top: 10px;
    padding: 50px;
}